@{
    Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3> Click "Delete" to confirm you want to remove @Html.DisplayFor(model => model.First_Name) @Html.DisplayFor(model => model.Last_Name) from your list of Stylists</h3>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete">
}
<hr />
<p>Otherwise click this link to go back: @Html.ActionLink("Back", "Details", new {id = Model.StylistId})</p>