@{
    Layout = "_Layout";
}

<h1>Eau Claire's Salon Management Database</h1>
<hr />

<h2>Follow one of these links to get started</h2>
<p>@Html.ActionLink("See all stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Add new stylist", "Create", "Stylists")</p>